name: docs-check
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# cancel the in-progress workflow when PR is refreshed.
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  docs-check:
    name: docs-check
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version: 1.21

      - name: Run helm-docs
        run: |
          GOBIN=$PWD GO111MODULE=on go install github.com/norwoodj/helm-docs/cmd/helm-docs@v1.11.0
          ./helm-docs --chart-search-root=${GITHUB_WORKSPACE}/charts
          DIFF=$(git diff ${GITHUB_WORKSPACE}/charts/extended-ceph-exporter/README.md)
          if [ ! -z "$DIFF" ]; then
            echo "Please use helm-docs in your clone of the project, and commit an updated README.md for the chart. https://github.com/koor-tech/extended-ceph-exporter/blob/main/RELEASE.md#running-helm-docs"
          fi
          git diff --exit-code
          rm -f ./helm-docs
